.ff {
  	border: 15px solid skyblue;
  	padding: auto;
  	margin: 2px;
  	width: 350px;
  	
}

.fr {
	border: 15px solid skyblue;
  padding: auto;
  margin: 2px;
	width:200px;
	height: auto;
}

#Yugi {
	font-family: fantasy;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	color: whitesmoke;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: center;

}

#Kaiba {
	font-family: fantasy;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	color: whitesmoke;
}

#Joey {
	font-family: fantasy;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	color: whitesmoke;
}



#header1 {
	font-family: fantasy;
	color: rebeccapurple;
}

#er {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

#et {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

#ey {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

.forband {
	font-family: fantasy;
	color: whitesmoke;
}

.yourm {
	font-family: fantasy;
	color: whitesmoke;
}

.gf {
	font-weight: bold;
}

.fere {
	margin-top: 1px;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.ac {
  background-color: #FF3D3D;
  color: white;

}

.topnav a.de {
  background-color: #20C7D7;
  color: white;

}

.topnav a.re {
  background-color: #FF3D3D;
  color: white;

}

.topnav a.le {
  background-color: #20C7D7;
  color: white;

}

.ghf {
	width:500px;
	height: auto;
}

.topnav a.le {
  background-color: #FF3D3D;
  color: white;

}

.ghf {
	width:500px;
	height: auto;
}