.ff {
  	border: 15px solid skyblue;
  	padding: auto;
  	margin: 2px;
  	
}

#header1 {
	font-family: fantasy;
	color: rebeccapurple;
}

#er {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

#et {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

#ey {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

.forband {
	font-family: fantasy;
	color: whitesmoke;
}

.yourm {
	font-family: fantasy;
	color: whitesmoke;
}

.gf {
	font-weight: bold;
}

.fere {
	margin-top: 1px;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}