.ff {
  	border: 15px solid skyblue;
  	padding: auto;
  	margin: 2px;
}

#header1 {
	font-family: fantasy;
	color: rebeccapurple;
}

#er {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

#et {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

#ey {
	font-family:fantasy ;
	color: rebeccapurple;
	text-align: center;
}

#21 {
	position: absolute;
}

#24 {
	position: absolute;
}

#22 {
	position: absolute;
}

.forband {
	font-family: fantasy;
	color: whitesmoke;
}

.yourm {
	font-family: fantasy;
	color: whitesmoke;
}

.gf {
	font-weight: bold;
}